<div class="container-header">
  <div class="logotip">СамокатВпрокат</div>
  <div class="container-header-button">
    <ul class="container-link">
      <li class="header-button"><a class="head-btn" href="/">Вернуться</a></li>
      <li class="call">Skrill</li>
    </ul>
  </div>
</div>
