<% if (userName && userEmail) { %>
<div class="container-header">
  <div class="logotip">СамокатВпрокат</div>
  <div class="container-header-button">
    <ul class="container-link">
      <li class="header-button"><a class="head-btn" href="/">Главная</a></li>
      <li class="header-button">
        <a class="head-btn" href="/find">Где найти</a>
      </li>
      <li class="header-button">
        <a class="head-btn" href="/profile">Профиль</a>
      </li>
      <li class="header-button">
        <a class="head-btn" href="/logout">Выйти</a>
      </li>
    </ul>
  </div>
</div>
<% } else { %>
<div class="container-header">
  <div class="logotip">СамокатВпрокат</div>
  <div class="container-header-button">
    <ul class="container-link">
      <li class="header-button"><a class="head-btn" href="/">Главная</a></li>
      <li class="header-button">
        <a class="head-btn" href="/register">Регистрация</a>
      </li>
      <li class="header-button"><a class="head-btn" href="/login">Войти</a></li>
      <li class="header-button">
        <a class="head-btn" href="/find">Где найти</a>
      </li>
    </ul>
  </div>
</div>
<% } %>
