<div class="container-header">
  <div class="logotip">СамокатВпрокат</div>
  <div class="container-header-button">
    <ul class="container-link">
      <li class="header-button"><a class="head-btn" href="/">Главная</a></li>
      <li class="header-button">
        <a class="head-btn" href="/admincontrol">Панель управления</a>
      </li>
      <li class="header-button">
        <a class="head-btn" href="/logout">Выйти</a>
      </li>
    </ul>
  </div>
</div>
